<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Telegram</string>
	<key>CFBundleExecutable</key>
	<string>Telegram</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x.png</string>
		<string>Icon@2x.png</string>
		<string>Icon.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-Small</string>
				<string>Icon-40</string>
				<string>Icon-60@2x.png</string>
				<string>Icon@2x.png</string>
				<string>Icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-72</string>
				<string>Icon-76</string>
				<string>Icon-Small</string>
				<string>Icon-40</string>
				<string>Icon-60@2x.png</string>
				<string>Icon@2x.png</string>
				<string>Icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.kern0x1b.telegram</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Telegram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.16.48</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>org.telegram.TelegramHD</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telegram</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.telegram.TelegramHD.compatibility</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.kern0x1b.telegram.devrun</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>telegramdev</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.16.48</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.telegram.conversation</string>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Telegram needs access to your music library so you can pick a song to send in a chat.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Telegram needs access to your calendar to add an event when you choose "Add to Calendar" for a message.</string>
	<key>NSCameraUsageDescription</key>
	<string>Telegram needs access to your camera to let you take and send photos and videos, scan a QR code to log in, and make video calls.</string>
	<key>NSContactsUsageDescription</key>
	<string>Telegram needs access to your contacts to show you which of them are already on Telegram and to let you add new contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Telegram needs access to your location, including in the background, to keep sharing your live location with a chat after you switch away from Telegram.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Telegram needs access to your location, including in the background, to keep sharing your live location with a chat after you switch away from Telegram.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Telegram needs access to your location to let you share your location or live location in a chat, pick a place on the map, and tag a location on a story.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Telegram needs access to your microphone to record voice messages, add sound to the videos you record, and let you talk during calls.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Telegram needs access to your photo library to let you send photos and videos from it, set a profile picture, chat wallpaper or sticker artwork, and save the media you receive.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>location</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-568h@2x</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>iPad-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>iPad-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewGroupOpacity</key>
	<false/>
</dict>
</plist>
