Package: com.kern0x1b.telegram
Name: Classicgram
Version: 1.0.2
Architecture: iphoneos-arm
Description: An unofficial Telegram client for 32-bit armv7 iPhones and iPads on iOS 6, wearing the 2013 interface. Uses the Telegram API and is part of the Telegram ecosystem; not affiliated with or endorsed by Telegram FZ-LLC.
Maintainer: kern0x1b
Author: kern0x1b
Section: Social
Depends: firmware (>= 6.0)
Depiction: https://kern0x1b.github.io/cydia/depictions/classicgram.html
Icon: https://kern0x1b.github.io/cydia/icons/classicgram.png
Homepage: https://github.com/kern0x1b/classicgram
